In [21]:
# Import dependencies
import pandas as pd
from IPython.display import display
import matplotlib.pyplot as plt
import numpy as np
import datetime
import xlrd
import os
import glob
from pandas_profiling import ProfileReport
from functools import reduce
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

In [25]:
# ignore this for now, don't run cell. clean up stage. 
def prepareData_HESS( folder  ): 
    
    directory = folder
    all_files = glob.glob(directory + "/*.xlsx")
    
    l_df = []
    l_label = ['Year']
    hess_dic = {}
    for filename in all_files:
        df = pd.read_excel(filename, header=0)
        #print(df)
        l_label.append(df.iat[0,1])
        #print(label)
        df = df.iloc[4:-1, 0:2]
        #display(df.head())
        l_df.append(df)
        #display(li.head())
    
    #print(l_label)
    df_final = reduce(lambda left,right: pd.merge(left,right,on='Major River Basin', how = 'outer'), l_df)
    display(df_final.columns)
    df_final.columns = l_label
    display(df_final.columns)
    df_final['Time'] = pd.to_datetime(df_final['Year'])
    #display(df_final.head())   
        
        #hess_dic = dict(zip(df.iloc[1:1, 0:2], df.iloc[4:-1, 0:2]))
    #for key,value in hess_dic:
     #   print(key,value.values())

    #hess_data.info()
    #hess_data.head(2)
    #f = plt.figure()
    #f.set_figwidth(24)
    #f.set_figheight(16)
    #plt.plot(hess_data['Time'],hess_data['Surigao River Basin'])
    #plt.xlabel('Time (years)')
    #plt.ylabel('Discharge')
    #plt.title('Maragayap River') 
    #plt.show()
    
    return df_final

df_hess  = prepareData_HESS("HESS/")
df_hess.head()

Index(['Major River Basin', 'Hibayog River Basin', 'Maragayap River Basin',
       'Surigao River Basin', 'Bangkerohan River Basin', 'Hiraan River Basin',
       'PADADA', 'PADSAN', 'PAMPANGA', 'Abra River Basin', 'Laoag River Basin',
       'ALORAN', 'Pamgalaan River Basin', 'Loom River Basin',
       'Kabasalan River Basin', 'Cagayan River Basin_x',
       'Cagayan River Basin_y', 'Borongan River Basin', 'Davao River Basin',
       'CABACANAN', 'Banaue River Basin', 'Das-ay River Basin',
       'Ulot River Basin', 'Magat River Basin', 'Pagbanganan River Basin',
       'JALAUR', 'Disakan River Basin', 'Sapiniton River Basin',
       'Hijo River Basin', 'Leyter River Basin', 'SIPOCOT',
       'Rizal River Basin', 'Agno River Basin', 'Tukuran River Basin',
       'Gabayan River Basin', 'Buayan River Basin', 'Gumain River Basin',
       'Aciga River Basin', 'Manaba River Basin', 'Bais River Basin',
       'Abatan River Basin', 'Agusan River Basin_x', 'GASGAS', 'MAMBUSAO',
       'Cagayan River Basin ', 'Agusan River Basin_y', 'Cotabato River Basin',
       'Kipaliko River Basin', 'Sindangan River Basin', 'Amparo River Basin',
       'Lingayon River Basin', 'Alubijid River Basin', 'Pampanga River Basin'],
      dtype='object')

Index(['Year', 'Hibayog River', 'Maragayap River Basin', 'Surigao River',
       'Bangkerohan River', 'Hiraan River', 'LAPULABAO', 'BANGAY',
       'SAN AGUSTIN', 'Sinalang River', 'Laoag River', 'JUAN BACAYO',
       'Pangalaan River', 'Loom River', 'Kabasalan River Basin', 'Pared River',
       'Cagayan River', 'Borongan River', 'Davao River', 'BADUANG,PAGUDPUD',
       'Banaue River', 'Das-ay River', 'Tenani River', 'Magat River',
       'Pagbanganan River', ' CALYAN,POTOTAN', 'Disakan River',
       'Sapiniton River', 'Hijo River', 'Leyter River', 'SABANG',
       'Rizal River', 'Camiling River', 'Tukuran River', 'Gabayan River',
       'Buayan River', 'Gumain River', 'Aciga River', 'Manaba River',
       'Bais River', 'Antequera River', 'Agusan River', 'MANALPACSOLSONA',
       'TUMALALUD', 'Ganano River', 'Wawa River', 'Allah River',
       'Kipaliko River', 'Sindangan River', 'Amparo River', 'Lingayon River',
       'Alubijid River ', 'Rio Chico River'],
      dtype='object')

,Year,Hibayog River,Maragayap River Basin,Surigao River,Bangkerohan River,Hiraan River,LAPULABAO,BANGAY,SAN AGUSTIN,Sinalang River,...,Ganano River,Wawa River,Allah River,Kipaliko River,Sindangan River,Amparo River,Lingayon River,Alubijid River,Rio Chico River,Time
0,1986-01,NaN,21.74,NaN,295.41,NaN,NaN,NaN,NaN,20.187488,...,NaN,963.250152,NaN,NaN,62.987413,281.77,884.76,NaN,0,1986-01-01
1,1986-02,NaN,18.4,NaN,116.55,NaN,NaN,NaN,NaN,11.706811,...,NaN,107.989438,51.6,NaN,43.426573,333.26,190.18,NaN,0,1986-02-01
2,1986-03,NaN,16.97,NaN,97.32,NaN,NaN,NaN,NaN,8.036359,...,NaN,487.614983,33.01,NaN,38.207832,187.78,252.36,NaN,0,1986-03-01
3,1986-04,NaN,18.42,NaN,118.69,NaN,NaN,NaN,NaN,6.664769,...,NaN,137.352763,NaN,NaN,37.331748,3.91,NaN,NaN,41.56,1986-04-01
4,1986-05,NaN,194.75,118.32,54.7,NaN,NaN,NaN,NaN,23.413622,...,NaN,90.485516,NaN,NaN,59.165874,NaN,NaN,NaN,25.82,1986-05-01

In [11]:
# Read and save HESS Discharge Data

directory = "HESS/"
all_files = glob.glob(directory + "/*.xlsx")
li = []

for filename in all_files:
    df = pd.read_excel(filename, header=0)
    #print(df)
    df = df.iloc[4:-1, 0:2]
    #df.head()
    li.append(df)
    #display(li.head())
    df_final = reduce(lambda left,right: pd.merge(left,right,on='Major River Basin', how = 'outer'), li)
    df_final['Time'] = pd.to_datetime(df_final['Major River Basin'])
    hess_data =  df_final 
    
hess_data.info()
#hess_data.head(2)
#f = plt.figure()
#f.set_figwidth(24)
#f.set_figheight(16)
#plt.plot(hess_data['Time'],hess_data['Surigao River Basin'])
#plt.xlabel('Time (years)')
#plt.ylabel('Discharge')
#plt.title('Maragayap River') 
#plt.show()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1251 entries, 0 to 1250
Data columns (total 54 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Major River Basin        1251 non-null   object
 1   Hibayog River Basin      369 non-null    object
 2   Time                     1251 non-null   datetime64[ns]
 3   Maragayap River Basin    330 non-null    object
 4   Surigao River Basin      247 non-null    object
 5   Bangkerohan River Basin  188 non-null    object
 6   Hiraan River Basin       290 non-null    object
 7   PADADA                   317 non-null    object
 8   PADSAN                   382 non-null    object
 9   PAMPANGA                 361 non-null    object
 10  Abra River Basin         305 non-null    object
 11  Laoag River Basin        291 non-null    object
 12  ALORAN                   133 non-null    object
 13  Pamgalaan River Basin    111 non-null    object
 14  Loom River Basin         202 non-null    object
 15  Kabasalan River Basin    196 non-null    object
 16  Cagayan River Basin_x    59 non-null     object
 17  Cagayan River Basin_y    167 non-null    object
 18  Borongan River Basin     221 non-null    object
 19  Davao River Basin        125 non-null    object
 20  CABACANAN                118 non-null    object
 21  Banaue River Basin       143 non-null    object
 22  Das-ay River Basin       249 non-null    object
 23  Ulot River Basin         299 non-null    object
 24  Magat River Basin        191 non-null    object
 25  Pagbanganan River Basin  268 non-null    object
 26  JALAUR                   87 non-null     object
 27  Disakan River Basin      208 non-null    object
 28  Sapiniton River Basin    289 non-null    object
 29  Hijo River Basin         289 non-null    object
 30  Leyter River Basin       267 non-null    object
 31  SIPOCOT                  253 non-null    object
 32  Rizal River Basin        209 non-null    object
 33  Agno River Basin         305 non-null    object
 34  Tukuran River Basin      287 non-null    object
 35  Gabayan River Basin      201 non-null    object
 36  Buayan River Basin       126 non-null    object
 37  Gumain River Basin       156 non-null    object
 38  Aciga River Basin        114 non-null    object
 39  Manaba River Basin       161 non-null    object
 40  Bais River Basin         227 non-null    object
 41  Abatan River Basin       336 non-null    object
 42  Agusan River Basin_x     303 non-null    object
 43  GASGAS                   214 non-null    object
 44  MAMBUSAO                 318 non-null    object
 45  Cagayan River Basin      183 non-null    object
 46  Agusan River Basin_y     265 non-null    object
 47  Cotabato River Basin     130 non-null    object
 48  Kipaliko River Basin     139 non-null    object
 49  Sindangan River Basin    307 non-null    object
 50  Amparo River Basin       228 non-null    object
 51  Lingayon River Basin     306 non-null    object
 52  Alubijid River Basin     223 non-null    object
 53  Pampanga River Basin     257 non-null    object
dtypes: datetime64[ns](1), object(53)
memory usage: 537.5+ KB

In [ ]:
# Load Indices Dataset from CookedFolder
# Meta data stored in Raw Folder
#NOAA Extended Reconstructed Sea Surface Temperature Â°C(ERSST)
df_ersst           = pd.read_csv('Indices/CookedFolder/ersst.csv')
# a value of -13 indicated a cold equatorial Pacific SST anomaly of -1.3 Deg-C.
df_jmasst          = pd.read_csv('Indices/CookedFolder/jmasst.csv')
# MEI [1] Multivariate ENSO Index v2
df_meiv2           = pd.read_csv('Indices/CookedFolder/meiv2.csv')
# Nino12r [K]  ERSST v5 relative Nino12 index
df_nino12arel      = pd.read_csv('Indices/CookedFolder/nina12a_rel.csv')
# Nino3r [K]  ERSST v5 relative Nino3 index
df_nino3arel       = pd.read_csv('Indices/CookedFolder/nina3a_rel.csv')
# Nino4 [K] ERSST v5 Nino4 index; SSTA normalized to 1981-2010 
df_nino4a          = pd.read_csv('Indices/CookedFolder/nina4a.csv')
# Nino12 [K] ERSST v5 Nino12 index; SSTA normalized to 1981-2010 
df_nino12a         = pd.read_csv('Indices/CookedFolder/nino12a.csv')
# Nino3.4r [K]  ERSST v5 relative Nino3.4 index
df_nino34arel      = pd.read_csv('Indices/CookedFolder/nino3.4a_rel.csv')
# Nino3.4 [K] ERSST v5 Nino3.4 index; SSTA normalized to 1981-2010
df_nino34a         = pd.read_csv('Indices/CookedFolder/nino3.4a.csv')
# Nino3 [K] ERSST v5 Nino3 index; SSTA normalized to 1981-2010
df_nino3a          = pd.read_csv('Indices/CookedFolder/nino3a.csv')
# Nino4r [K]  ERSST v5 relative Nino4 index
df_nino4arel       = pd.read_csv('Indices/CookedFolder/nino4a_rel.csv')
#Tahiti - Darwin SLP standardized
df_soi             = pd.read_csv('Indices/CookedFolder/soi.csv')

In [ ]:
# ERSST Clean data, eg replace 999 with nans, make sure time column is correct, change units to deg C where needed
df_ersst_qc = df_ersst.copy()
df_ersst_qc.columns =['Year', 'sst1', 'sst2', 'sst3','sst4', 'sst5', 
                      'sst6','sst7', 'sst8', 'sst9','sst10', 'sst11', 'sst12']
#df_ersst_qc.head(10)
df_ersst_qc = pd.wide_to_long(df_ersst_qc,['sst'], i="Year",
                              j="Month").reset_index().sort_values(['Year','Month']).reset_index()
df_ersst_qc['Time'] = pd.to_datetime(df_ersst_qc[['Year', 'Month']].assign(DAY=15))
df_ersst_qc.replace(-999.9, np.nan, inplace=True)
display(df_ersst_qc['sst'].describe())
df_ersst_qc.info()
f = plt.figure()
f.set_figwidth(24)
f.set_figheight(16)
plt.plot(df_ersst_qc['Time'],df_ersst_qc['sst'])
plt.xlabel('Time (years)')
plt.ylabel('ssta (Â°C)')
plt.title('ERSST')
plt.show()

In [ ]:
# SOI data
df_soi_qc = df_soi.copy()
df_soi_qc.columns =['Year', 'soi1', 'soi2', 'soi3','soi4', 'soi5', 
                      'soi6','soi7', 'soi8', 'soi9','soi10', 'soi11', 'soi12']
#df_soi_qc.head()
df_soi_qc = pd.wide_to_long(df_soi_qc,['soi'], i="Year",
                              j="Month").reset_index().sort_values(['Year','Month']).reset_index()
df_soi_qc['Time'] = pd.to_datetime(df_soi_qc[['Year', 'Month']].assign(DAY=15))
df_soi_qc.replace(-999.9, np.nan, inplace=True)
display(df_soi_qc['soi'].describe())
df_soi_qc.info()
#df_soi_qc=df_soi_qc.set_index('Time')
#df_soi_qc.head()
fig, ax = plt.subplots(figsize=(24, 16))
# Add x-axis and y-axis
ax.bar(df_soi_qc.index.values,df_soi_qc['soi'],color=(df_soi_qc['soi'] > 0).map({True: 'b',
                                                    False: 'r'}))
# Set title and labels for axes
ax.set(xlabel="Time",ylabel="SOI",
       title="SOI Index")
# Rotate tick marks on x-axis
plt.setp(ax.get_xticklabels(), rotation=45)
plt.show()

In [ ]:
# JMASST Data
df_jmasst_qc = df_jmasst.copy()
df_jmasst_qc.columns =['Year', 'sst1', 'sst2', 'sst3','sst4', 'sst5', 
                      'sst6','sst7', 'sst8', 'sst9','sst10', 'sst11', 'sst12']
df_jmasst_qc = pd.wide_to_long(df_jmasst_qc,['sst'], i="Year",
                              j="Month").reset_index().sort_values(['Year','Month']).reset_index()
df_jmasst_qc['Time'] = pd.to_datetime(df_jmasst_qc[['Year', 'Month']].assign(DAY=15))
df_jmasst_qc.head()
df_jmasst_qc['sst']  = df_jmasst_qc['sst'].div(10)
#df_jmasst_qc.head()
df_jmasst_qc.replace(99.9, np.nan, inplace=True)
display(df_jmasst_qc['sst'].describe())
df_jmasst_qc.info()
f = plt.figure()
f.set_figwidth(24)
f.set_figheight(16)
plt.plot(df_jmasst_qc['Time'],df_jmasst_qc['sst'])
plt.xlabel('Time (years)')
plt.ylabel('ssta (Â°C)')
plt.title('JMASST')
plt.show()

In [ ]:
# Extract Historical Data

def get_index(df):
    df['splice']= df['Unnamed: 12'].map(lambda x: str(x).startswith("19") and len(str(x))==4 )
    return df[df['splice']==True][['splice','Unnamed: 12']].index

def prep_data(df_index,df):
    
    dic_temp = {}
    
    for i in df_index:
        # get year
        year=df['Unnamed: 12'].loc[i]
        
        # slicing for days
        df_temp = df.loc[i+2:i+34].dropna(axis=1, how = 'all')
        
        # dropping column
        df_temp.drop(columns=['splice'],axis=1,inplace = True)
        
        # rename columns
        df_temp.columns = df_temp.loc[i+2]
        
        # droppings unnecessary columns
        df_temp.drop([i+2,i+3], inplace = True)
        dic_temp[year] = df_temp.reset_index()
        
    return dic_temp

def extract_file(folder):
    
    l_files =[]
    for path, subdirs, files in os.walk(folder):
        for name in files:
            if name.startswith("Phili"):
                continue
            l_files.append( os.path.join(path, name) )
    return l_files

l_files = extract_file("Historical/")
    
dic_data = {}

for name in l_files:
    #print(name)
    label = name.split('/')[-1] \
                .split('.')[0] \
                .replace(' ', '_') \
                .replace('(', '') \
                .replace(')', '')
    fol    = name.split('/')[-2] 
    #print(fol)
    df_excel = pd.read_excel(name)
    df_index = get_index(df_excel)
    dic_temp = prep_data(df_index,df_excel) 
    dic_data[f"{fol}_{label}"] = dic_temp

In [ ]:
# Function 2
def qc_index2(df_index_name,title):
    '''Give indeces name as function. Returns date (as datetime), indeces as a dataframe. '''
    df_qc = df_index_name.copy()
    df_qc.columns = ['Year','ssta (Â°C)']
    #print(df_qc)
    df_qc['time'] = pd.DataFrame({'time': pd.date_range('1854-01-15','2021-07-15', 
                      freq='MS').strftime("%Y-%m").tolist()})
    df_qc['date']=pd.to_datetime(df_qc['time'])
    df_qc = df_qc
    display(df_qc['ssta (Â°C)'].describe())
    df_qc.info()
    # Rough Plot
    f = plt.figure()
    f.set_figwidth(24)
    f.set_figheight(16)
    plt.plot(df_qc['date'],df_qc['ssta (Â°C)'])
    plt.xlabel('Time (years)')
    plt.ylabel('ssta (Â°C)')
    plt.title(title) 
    plt.show()
    return df_qc
#df_nino4a['Time'] = time

In [ ]:
df_nino4a_qc = qc_index2(df_nino4a,'NINO 4')
df_nino34a_qc = qc_index2(df_nino34a,'NINO 3.4')
df_nino12a_qc = qc_index2(df_nino12a,'NINO 1+2')

In [ ]:
for label,dic in dic_data.items():
    print(label,dic.keys())
    for year,df in dic.items():
        display(year,df.values)

In [ ]:
# Recorded Rainfall Data

df_p      = pd.read_csv('1901-1940 (Precipitation from JAMSTEC).csv')
df_p_meta = df_p.iloc[0:4,2:].set_index('name').transpose()
df_p      = df_p.iloc[4:].reset_index() \
                         .drop( columns='index' ) \
                         .rename(columns = {'Unnamed: 0':'year','Unnamed: 1':'month', 'name':'day'} ) \
                         .replace('?',-999) \
                         .astype(float)
df_p.replace(-999, np.nan, inplace=True)

df_p.apply(lambda x: f'{int(x["year"])}/{int(x["month"])}/{int(x["day"])}', axis = 1)
df_p.apply(lambda x: datetime.datetime( int(x["year"]), int(x["month"]), int(x["day"])), axis = 1 )
df_p['Date'] = pd.to_datetime(df_p[['year', 'month','day']])


df_2= df_p.resample('M', on='Date').sum()
display(df_2.head(3))
f = plt.figure()
f.set_figwidth(24)
f.set_figheight(16)
plt.plot(df_2.index.values,df_2['MANILA'])
plt.xlabel('Time (years)')
plt.ylabel('Rainfall')
plt.title('MANILA') 
plt.show()